  <footer class="site-footer">
<p>Ce site s’inscrit dans un cadre strictement <b>fictif</b> et est destiné exclusivement à l’univers du serveur <b>NoFace: California (Whitelist)</b>.
Toute ressemblance avec des personnes, lieux ou événements réels serait purement <b>fortuite</b> et <b>non intentionnelle</b>.</p>

<p>
Nous ne sommes en aucun cas affiliés, associés ou approuvés par Rockstar Games, Rockstar North, cfx.re ou FiveM.
Toutes les marques citées appartiennent à leurs propriétaires respectifs.</p>
    <hr style="margin: 20px 0; border: none; height: 1px; background: #444;">
    <p>✍️ Pour toute demande de modification / plainte, veuillez contacter <a href="https://discord.com/users/245644669801725962" target="_blank"><b>Ori</b></a> sur Discord. ✍️</p>
    <p>🛠️ Site développé par <a href="https://discord.com/users/1492721160910016522" target="_blank"><b>Ibra</b></a>. 🛠️</p>
  </footer>
</main>
<script src="/js/main.js"></script>
</body>
</html>
